html body {
    margin: 0;
    padding: 0;
    background-color: #F44336;
}

h1 {
    margin: 0;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, #D32F2F, #F44336);
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

div {
    font-family: sans-serif;
    margin-top: 10px;
}

div span{
    color: #FFFFFF;
}

div span.label {
    color: blue;
}

a {
    color: #008a75;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
    text-decoration: underline;
}

ol {
    list-style: upper-roman;
}